.about {
  padding: 150px 0;

  @media (max-width: 1199px) {
    padding: 100px 0 35px;
  }

  .description__block-wrapper {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;

    @media (max-width: 1199px) {
      padding: 0 60px;
      margin: 0 auto;
      max-width: 100%;
    }

    @media (max-width: 767px) {
      padding: 0;
      gap: 20px;
    }
  }

  .description__block-more {
    display: flex;
    justify-content: flex-start;
  }
}
