.idea {
  background-color: #f4f4f4;
  padding: 100px 0;
  text-align: center;

  @media (max-width: 1199px) {
    padding: 100px 0 62px;
  }

  @media (max-width: 767px) {
    padding: 20px 0 17px;
  }

  .idea__title {
    color: #909090;
    font-family: "Inter";
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;

    @media (max-width: 767px) {
      font-size: 24px;
      text-align: left;
      line-height: 26px;
      color: #282828;
      font-weight: 600;
    }
  }

  .idea__text {
    margin: 32px auto 20px;
    color: var(--text-black, #282828);
    font-family: "Inter";
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    max-width: 883px;

    @media (max-width: 1199px) {
      padding: 0 40px;
    }

    @media (max-width: 767px) {
      margin: 13px auto 12px;
      padding: 0;
      font-size: 16px;
      text-align: left;
      font-weight: 400;
      line-height: 23px;
    }
  }

  .idea__subtitle {
    color: #909090;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    @media (max-width: 767px) {
      font-size: 16px;
      text-align: left;
    }
  }
}
